body {
    background-color: #fefefe;
    padding: 150px;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: black;
    font-weight: 400;
}
a {
    color: black;
    text-decoration: none;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: black;
    font-weight: 400;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: black;
    font-size: 100;
}
.navbar {
    display: flex;
    justify-content: left;
}
.main-content {
    display: flex;
    gap: 100px;
    flex-direction: row;
}
#info {
    background-color: #ecede88c;
    padding: 50px;
    border-radius: 10px;
    flex: 1;
}
#client-gallery {
    background-color: #ecede88c;
    padding: 50px;
    border-radius: 10px;
    flex: 3;
}
#info:hover{
    background-color: rgba(88, 108, 97, 0.3);
}

ul {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
