body{
    background-color: #f5f5f5;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: black;
}
.contentbox{
    display: flex;
    justify-content: space-between;
}
.infopanel{
    background-color: darkred;
    vertical-align: center;
}
.clientpanel{
    background-color: blue;
    vertical-align: center;
}