body {
    background-color: #fefefe;
    padding: 200px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: black;
}
a {
    color: black;
    text-decoration: none;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: black;
}
.contentbox {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-content: stretch;
    flex-direction: row;
}
#infobox {
    background-color: #ecede8;
    padding: 100px;
    border-radius: 10px;
    display: flex;
    flex: 1;
    justify-content: left;
    flex-direction: column;
}
#clientbox {
    background-color: #ecede8;
    padding: 100px;
    border-radius: 10px;
    display: flex;
    flex: 1;
    justify-content: left;
    flex-direction: column;
}
#infobox:hover{
    background-color: rgb(88, 108, 97);
}
#clientbox:hover{
    background-color: rgb(88, 108, 97);
}
ul {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}